body {
    margin: 0px;

    justify-content: left;
    height: 300wh;
    width: 100vw;
    position: fixed;
    background: #222222;



}



header {
    margin: 0;
    padding-left: 0%;
    display: flex;
    background-color: #1b1b1b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: yellow;
    text-shadow: 1px 1px 10px yellow;
    font-size: x-large;
    justify-content: left;

}



.list {
    padding-left: 5%;
    list-style-type: disc;
    color: white;
}

.text {
    padding-left: 5%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100px;
    align-content: left;
    justify-content: left;

    text-shadow: 1px 1px 10px 50px black;


}

.temp {
    justify-content: left;

    display: inline-block;
    padding-left: 5%;


}

.calculator {
    justify-content: left;

    display: inline-block;

    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(46, 45, 45);
    border-radius: 20px;
    border-color: 1px solid #222222;
    box-shadow: inset 5px 5px 5px 5px rgb(26, 25, 25), 5px 5px 5px rgb(26, 25, 25);



}

footer {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: left;
    align-content: center;
    display: block;

    text-align: left;
    text-shadow: 1px 1px 10px 50px black;
    padding-left: 5%;

}

.s {

    height: 60px;
    width: 91px;
    background-color: #646464;
    color: white;
    border-radius: 10px;
    border-color: #646464;
    font-size: x-large;
    grid-row: span 2;
    grid-column: span 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.s:hover {
    height: 60px;
    width: 91px;
    background-color: yellow;
    color: black;
    border-radius: 10px;
    border-color: yellow;
    font-size: x-large;
    grid-row: span 2;
    grid-column: span 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.e {
    height: 60px;
    width: 91px;
    background-color: #646464;
    color: white;
    border-radius: 10px;
    border-color: #646464;
    font-size: x-large;
    grid-row: span 2;
    grid-column: span 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.e:hover {
    height: 60px;
    width: 91px;
    background-color: red;
    color: black;
    border-radius: 10px;
    border-color: red;
    font-size: x-large;
    grid-row: span 2;
    grid-column: span 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.num {
    height: 60px;
    width: 60px;
    background-color: #646464;
    color: white;
    border-radius: 50%;
    border-color: #646464;
    font-size: x-large;
    font-weight: bold;
    grid-row: span 2;
    grid-column: span 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;





}

.num:hover {
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    border-color: white;
    font-size: x-large;
    grid-row: span 2;
    grid-column: span 2;
}

#display {
    width: 235px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: large;
    color: yellow;
    font-family: "Couriner Nwe", 'Courier New', Courier, monospace;
    background-color: #646464;
    letter-spacing: 10px 10px;
    display: block;
    box-shadow: inset 2px 2px 2px #1b1b1b;

}



.title {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    justify-content: left;
    display: inline-flex;
}

#p {

    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    justify-content: right;
    display: inline;
    padding-left: 5%;
}

.c {
    height: 40px;
    width: 235px;
    background-color: #646464;
    color: white;
    border-radius: 5px;
    border-color: #646464;
    font-size: x-large;
    grid-row: span 2;
    grid-column: span 2;

}

.c:hover {
    height: 40px;
    width: 235px;
    background-color: rgb(153, 255, 0);
    color: black;
    border-radius: 5px;
    border-color: rgb(153, 255, 0);
    font-size: x-large;
    grid-row: span 2;
    grid-column: span 2;

}
